html, body, #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
    font-family: Arial, Helvetica, sans-serif;
}


hr{
    margin: 0px;
    border-color: #282828;
}

.App{
    background-color: #171717;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 480px) {
    .App{
        padding: 10px;
    }
}

[draggable="true"] {
    cursor: grab !important; /* Cursor appearance before dragging starts */
}
  
[draggable="true"]:active {
    cursor: grabbing !important; /* Cursor appearance during dragging */
}      

button {
    font-size: 15px;
    color: white;
    background: #5d5d5d;
    padding: 0 10px;
    cursor: pointer;
    border: none;
}

// Grids {
.grid {
    display: grid;
    grid-gap: 4px;
    font-size: 14px;
}

.grid.horizontal{
    grid-template-columns: repeat(10, minmax(auto, 120px)); /* Adjust number of columns based on your needs */
}

.grid.vertical{
    grid-template-columns: repeat(5, minmax(auto, 120px)); /* Adjust number of columns based on your needs */
}
// Grids }



// Util {
.hide {
    visibility: hidden !important;
}

.d-none {
    display: none !important;
}
// Util }

