@use './Variables' as vars;

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
    font-family: Arial, Helvetica, sans-serif;
    // font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


hr{
    margin: 0px;
    border-color: vars.$color-border-strong;
}

.App{
    background-color: vars.$color-bg-base;
    color: vars.$color-text-primary;
    min-width: 100%;
    min-height: 100%;

    .gutter-container {
        position: relative;
        padding: 40px 20px 20px;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width: vars.$breakpoint-tablet) {
    .App{
        .gutter-container {
            max-width: none;
            padding: 30px 10px 10px;
            gap: 10px;
        }
    }
}



[draggable="true"] {
    cursor: grab !important; /* Cursor appearance before dragging starts */
}
  
[draggable="true"]:active {
    cursor: grabbing !important; /* Cursor appearance during dragging */
}      

button {
    color: vars.$color-text-primary;
    cursor: pointer;
    border: none;
}

.UI-header {
    width: 100%;
    // min-height: 120px;
    // padding: 18px 24px 8px;
    position: relative;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.UI-divider-container {
    position: relative;
    width: 100%;
}

.UI-divider{
    position: absolute;
    border-top: vars.$color-border-strong solid 1px;
    width: 100%;
}

.UI-divider-vertical{
    position: absolute;
    border-top: vars.$color-border-strong solid 1px;
    width: 100%;
    transform: rotate(90deg);
}

// Grids {
.grid {
    display: grid;
    grid-gap: 4px;
    font-size: 14px;
    max-height: 65vh;
    grid-auto-flow: row dense;
    justify-content: center;
}

.grid.horizontal{
    grid-template-columns: repeat(10, minmax(auto, 120px)); /* Adjust number of columns based on your needs */
}

.grid.vertical{
    grid-template-columns: repeat(5, minmax(auto, 120px)); /* Adjust number of columns based on your needs */
}
// Grids }



// Util {
.hide {
    visibility: hidden !important;
}

.d-none {
    display: none !important;
}
// Util }
