@use './Variables' as vars;

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
    font-family: Arial, Helvetica, sans-serif;
    // font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


hr{
    margin: 0px;
    border-color: #282828;
}

.App{
    background-color: #171717;
    color: white;
    width: 100%;
    height: 100%;

    .gutter-container {
        padding: 70px 20px 20px;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 30px;
    }

    .gameover {
        border: solid green 1px;
    }
}

@media only screen and (max-width: vars.$breakpoint-tablet) {
    .App{
        .gutter-container {
            max-width: none;
            padding: 60px 10px 10px;
            gap: 10px;
        }
    }
}



[draggable="true"] {
    cursor: grab !important; /* Cursor appearance before dragging starts */
}
  
[draggable="true"]:active {
    cursor: grabbing !important; /* Cursor appearance during dragging */
}      

button {
    font-size: 15px;
    color: white;
    background: #5d5d5d;
    padding: 0 10px;
    cursor: pointer;
    border: none;
}

.UI-header {
    width: 100%;
    height: 5vh;
    z-index: 10000;
    position: relative;
}

.UI-divider-container {
    position: relative;
    width: 100%;
}

.UI-divider{
    position: absolute;
    border-top: #282828 solid 1px;
    width: 100%;
}

.UI-divider-vertical{
    position: absolute;
    border-top: #282828 solid 1px;
    width: 100%;
    transform: rotate(90deg);
}

// Grids {
.grid {
    display: grid;
    grid-gap: 4px;
    font-size: 14px;
    max-height: 65vh;
    grid-auto-flow: row dense;
}

.grid.horizontal{
    grid-template-columns: repeat(10, minmax(auto, 120px)); /* Adjust number of columns based on your needs */
}

.grid.vertical{
    grid-template-columns: repeat(5, minmax(auto, 120px)); /* Adjust number of columns based on your needs */
}
// Grids }



// Util {
.hide {
    visibility: hidden !important;
}

.d-none {
    display: none !important;
}
// Util }
