.app-header {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  pointer-events: none;
  z-index: 10;

  .app-header-buttons,
  .app-header-extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    pointer-events: auto;
  }

  .app-header-buttons{
    width: 100%;
  }

  .app-header-extras {
    justify-self: flex-end;
  }

  .app-header-button {
    pointer-events: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(170, 170, 170);
    background: #1e1e1e;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
  }

  .app-header-button:hover,
  .app-header-button:focus-visible {
    box-shadow: 0px 0px 2px 0px white;
    transform: translateY(-2px);
  }

  .app-header-button:active{
    box-shadow: inset 0px 0px 4px 2px white, 0px 0px 8px 2px white;
    transform: translateY(2px);
  }

  .app-header-button > * {
    line-height: 1;
  }
}
