.bot-grid-container{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 55px;   //Hides grid items below top 5
}

.shadow-gradient{
    background-image: linear-gradient(to top, #171717, transparent);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    // pointer-events: none;
}

#draggrid {
    overflow: hidden;
    padding: 3px;
    width: 100%;
    grid-template-columns: repeat(5, minmax(48px, 120px));
}
