@use './Variables' as vars;

.bot-grid-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    height: auto;
    gap: 12px;
}

.shadow-gradient{
    background-image: linear-gradient(to top, vars.$color-bg-base, transparent);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15px;
    // pointer-events: none;
}

#draggrid {
    overflow: visible;
    padding: 0;
    position: relative;
}

.text-input-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
