.bot-grid-container{
    display: flex;
    justify-content: center;

    overflow: hidden; //this is temp solution
    height: 40px;
}

.bot-grid-item {
    height: 40px;
    border-radius: 10px;
    min-width: 40px;

    margin: 0 auto; // center in grid column
    display: flex;   
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-color: #BC002D;
}


.bot-grid-item.dragging {
    opacity: 0.5;
    cursor: grabbing !important;
}

// .placeholder,
// .grid-shape {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// .grid-shape {
//     /* max-height: none;
//     max-width: none;
//     min-height: none;
//     min-width: none; */
//     width: 100%;
//     height: 100%;
// }




// #shapesGrid{
//     /* padding: 0 20% ; */
//     /* min-height: 200px; */
// }

  