@use './Variables' as vars;

.bot-grid-item {
    width: 100%;
    min-width: vars.$tile-size-min;
    max-width: vars.$tile-size-max;
    max-height: vars.$tile-size-max;
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;   
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    background-color: vars.$color-accent-primary;
    flex-wrap: wrap;
    gap: 4px;

}

.bot-grid-item:not(.placeholder) {
    box-shadow: 0px 5px 0px 0px vars.$color-black;
}

.bot-grid-item.placeholder {
    background-color: transparent;
    border: 1px dashed vars.$color-text-primary;
    pointer-events: none;
    box-shadow: none;
}

.bot-grid-item.dragging {
    opacity: 0.5;
    cursor: grabbing !important;
}

.bot-grid-item.completing {
    pointer-events: none;
    z-index: 10;
    will-change: transform;
}

.active-tile-indicator {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid vars.$color-text-primary;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.active-tile-indicator.visible {
    opacity: 1;
}

.char-container{
    width: 35%;
    display: flex;
    justify-content: center;
}


.char-container:nth-child(3n){
    margin-top: -16px;
    // border-top: solid 1px black;
}


.column-0{
    // border: solid 1px rgb(173, 116, 116);
    background-color: vars.$color-grid-border-one;
}

.column-1{
    // border: solid 1px rgb(116, 173, 121);
    background-color: vars.$color-grid-border-two;
}

.column-2{
    // border: solid 1px rgb(116, 173, 168);
    background-color: vars.$color-grid-border-three;
}

.column-3{
    // border: solid 1px rgb(173, 116, 149);
    background-color: vars.$color-grid-border-four;
}

.column-4{
    // border: solid 1px rgb(153, 173, 116);
    background-color: vars.$color-grid-border-five;
}
