.bot-grid-item {
    height: 45px;
    border-radius: 10px;
    width: 50px;

    margin: 0 5px;
    display: flex;   
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;

    background-color: #BC002D;
    flex-wrap: wrap;
    gap: 4px;

}

.bot-grid-item:not(.placeholder) {
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
}

.bot-grid-item.placeholder {
    background-color: transparent;
    border: 1px dashed rgba(255, 255, 255, 0.15);
    pointer-events: none;
    box-shadow: none;
}

.bot-grid-item.dragging {
    opacity: 0.5;
    cursor: grabbing !important;
}

.bot-grid-item.completing {
    pointer-events: none;
    z-index: 10;
    will-change: transform;
}

.active-tile-indicator {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid #ffffff;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.active-tile-indicator.visible {
    opacity: 1;
}

.char-container{
    width: 35%;
    display: flex;
    justify-content: center;
}


.char-container:nth-child(3n){
    margin-top: -16px;
    // border-top: solid 1px black;
}


.column-0{
    // border: solid 1px rgb(173, 116, 116);
    background-color: rgb(173, 116, 116);
}

.column-1{
    // border: solid 1px rgb(116, 173, 121);
    background-color: rgb(116, 173, 121);
}

.column-2{
    // border: solid 1px rgb(116, 173, 168);
    background-color: rgb(116, 173, 168);
}

.column-3{
    // border: solid 1px rgb(173, 116, 149);
    background-color: rgb(173, 116, 149);
}

.column-4{
    // border: solid 1px rgb(153, 173, 116);
    background-color: rgb(153, 173, 116);
}
