.bot-grid-item {
    height: 45px;
    border-radius: 10px;
    width: 50px;

    margin: 0 5px;
    display: flex;   
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 1;

    background-color: #BC002D;
    flex-wrap: wrap;
    gap: 4px;

}

.bot-grid-item:not(.placeholder) {
    box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 1);
}

.bot-grid-item.placeholder {
    background-color: transparent;
    border: 1px dashed rgba(255, 255, 255, 0.15);
    pointer-events: none;
    box-shadow: none;
}

.bot-grid-item:first-of-type{
    // background-color: white;
    margin-right: auto;
    background-color: rgb(226, 226, 226);
    color: rgb(188, 0, 45);
    animation: innerpulse 1s infinite;
    // animation: tilepulse 1s infinite, innerpulse 1s infinite;
}

.bot-grid-item:first-of-type.slide-vertical{
    animation: innerpulse 1s infinite, slide-vertical 0.1s;
}

// .bot-grid-item:first-of-type::before{
//     padding-bottom: 5px;
// }

@keyframes innerpulse {
    0%, 100% {
        box-shadow: inset 0 2px 25px rgba(188, 0, 45, 1),
                    0px 5px 0px 0px rgba(0, 0, 0, 1);
    }
    50% {
        box-shadow: inset 0 2px 30px rgba(188, 0, 45, 0.75),
                    0px 5px 0px 0px rgba(0, 0, 0, 1);
    }
}

@keyframes tilepulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

@keyframes slide-vertical {
    0% {top: 0};
    100% {top: 50px};
}

.bot-grid-item.dragging {
    opacity: 0.5;
    cursor: grabbing !important;
}

.char-container{
    width: 35%;
    display: flex;
    justify-content: center;
}


.char-container:nth-child(3n){
    margin-top: -16px;
    // border-top: solid 1px black;
}


.column-0{
    // border: solid 1px rgb(173, 116, 116);
    background-color: rgb(173, 116, 116);
}

.column-1{
    // border: solid 1px rgb(116, 173, 121);
    background-color: rgb(116, 173, 121);
}

.column-2{
    // border: solid 1px rgb(116, 173, 168);
    background-color: rgb(116, 173, 168);
}

.column-3{
    // border: solid 1px rgb(173, 116, 149);
    background-color: rgb(173, 116, 149);
}

.column-4{
    // border: solid 1px rgb(153, 173, 116);
    background-color: rgb(153, 173, 116);
}
