.top-grid-item{
    height: 45px;
    width: 50px;
    position: relative;
    // width: 100%;
    margin: 0 auto; // center in grid column
    // max-width: 90px;
    // min-width: 60px;
    display: flex;
    // flex-direction: row;
    // justify-content: space-around;

    border-bottom: solid 3px;
    border-left: solid 3px;
    border-right: solid 3px;
    border-top: solid 3px;
    border-radius: 10px;
    
    overflow: hidden;
    text-align: center;
}



.top-grid-item.filled{
    background: #BC002D;
    
}