@use './Variables' as vars;

.top-grid-item{
    width: 100%;
    min-width: var(--tile-min, 32px);
    max-width: var(--tile-max, 45px);
    max-height: var(--tile-max, 45px);
    aspect-ratio: 1 / 1;
    position: relative;
    margin: 0 auto; // center in grid column
    display: flex;
    // flex-direction: row;
    // justify-content: space-around;

    border: solid 1px;
    border-radius: 10px;
    
    overflow: hidden;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.phonetic-romaji{
    width: 100%;
}

.phonetic-romaji,
.phonetic-katakana,
.phonetic-hiragana {
    min-height: 21px;
}

.top-grid-item.filled,
.phonetic-romaji.filled,
.phonetic-katakana.filled,
.phonetic-hiragana.filled{
    background: vars.$color-accent-primary;
}
