.mobile-hint-container {
  display: flex;
  pointer-events: auto;
}

.mobile-hint-button {
  font-size: 20px;
  // width: 50px;
  // height: 50px;
  // border-radius: 50%;
  // border: 1px solid vars.$color-border-default;
  // background: vars.$color-bg-panel;
  // color: vars.$color-text-primary;
  // display: inline-flex;
  // align-items: center;
  // justify-content: center;
  // transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.mobile-hint-icon {
  width: 24px;
  height: 24px;
}

// .mobile-hint-button:hover,
// .mobile-hint-button:focus-visible {
//   box-shadow: 0 0 2px 0 vars.$color-text-primary;
//   transform: translateY(-2px);
// }

// .mobile-hint-button:active,
// .mobile-hint-button.active {
//   box-shadow: inset 0 0 4px 2px vars.$color-text-primary, 0 0 8px 2px vars.$color-text-primary;
//   transform: translateY(2px);
// }
