@use './Variables' as vars;

.start-menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: vars.$color-bg-base;
    z-index: 99999;
}

.start-menu-header{
    width: 100%;
    margin-top: 10%;

    h3 {
        text-align: center;
    }
}

.UI-start-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 10%;
}

.UI-start-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: rgb(11, 70, 160);


        -webkit-box-shadow: 0px 4px 0px 0px rgb(8, 46, 104);
        -moz-box-shadow: 0px 4px 0px 0px rgb(8, 46, 104);
        box-shadow: 0px 4px 0px 0px rgb(8, 46, 104);

        border: solid 1px rgb(37, 109, 218);
    }
}
