@use './Variables' as vars;

input.input-field {
    background-color: vars.$color-neutral-field; /* Transparent black */
    outline: unset;
    border: unset;
    border-radius: 10px;
    font-size: 16px;
    padding: 8px;
    letter-spacing: 0.8px; 
    // font-weight: 500;
    text-align: center;
    // width: 100%;
    width: 250px;
    max-width: 150px;
    height: 45px;

    z-index: 0;
    animation: pulse 1.5s infinite; /* Adjust duration and repeat */

    &::placeholder {
        font-size: 12px;
        color: vars.$color-neutral-ink;
    }
}

input.input-field:focus {
    outline: none;
}

/* Define the animation */
@keyframes pulse {
    0% {
        box-shadow: 0 2px 15px vars.$color-text-primary; /* Initial glow */
    }
    50% {
        box-shadow: 0 2px 20px vars.$color-text-primary; /* Intense glow */
    }
    100% {
        box-shadow: 0 2px 15px vars.$color-text-primary; /* Back to initial */
    }
}

/* Add the shake class for incorrect input */
.input-field.shake {
    animation: shake 0.25s ease;
    box-shadow: 0 2px 15px vars.$color-warning;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); } 
    50% { transform: translateX(5px); } 
    75% { transform: translateX(-5px); } 
    100% { transform: translateX(0); } 
}
