input.input-field {
    background-color: rgb(226, 226, 226); /* Transparent black */
    outline: unset;
    border: unset;
    border-radius: 10px;
    font-size: 16px;
    padding: 8px;
    letter-spacing: 0.8px; 
    // font-weight: 500;
    text-align: center;
    width: 100px;

    &::placeholder {
        font-size: 12px;
        color: rgba(34, 34, 34, 0.6);
    }
}

input.input-field:focus {
    outline: none;
    animation: pulse 1.5s infinite; /* Adjust duration and repeat */
}

.text-input {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0); 
}


/* Define the animation */
@keyframes pulse {
    0% {
        box-shadow: 0 2px 15px rgba(255, 255, 255, 0.5); /* Initial glow */
    }
    50% {
        box-shadow: 0 2px 20px rgba(255, 255, 255, 1); /* Intense glow */
    }
    100% {
        box-shadow: 0 2px 15px rgba(255, 255, 255, 0.5); /* Back to initial */
    }
}

/* Add the shake class for incorrect input */
.shake {
    animation: shake 0.25s ease;
    box-shadow: 0 2px 15px rgba(255, 0, 0, 1);
}

@keyframes shake {
    0% { left: 50%; }
    25% { left: calc(50% - 5px); } 
    50% { left: calc(50% + 5px); } 
    75% { left: calc(50% - 5px); } 
    100% { left: 50%; } 
}
