@use "./Variables" as vars;

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: vars.$color-text-primary;
  text-align: center;
  width: auto;
  margin: 0 auto;
}

.level-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.level-row {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: 2px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.level-cell {
  text-align: center;
  min-width: 20px;
}

.level-divider {
  width: clamp(100%, 48vw, 340px);
  height: 1px;
  background: vars.$color-border-default;
}

.timer-pill {
  min-width: 86px;
  padding: 4px;
  border-radius: 12px;
  border: 1px solid vars.$color-border-default;
  font-size: 16px;
}

@media only screen and (max-width: vars.$breakpoint-tablet) {
  .timer-container{
    gap: 8px;
  }

  .level-info {
    gap: 2px;
  }
}
