@use './variables' as vars;

.timer-container{
    .reset-button{
        position: absolute;
        left: 50%;
        top: 0px;
        // top: 50%;
        transform: translate(-50%, 0);

        font-weight: 900;
        line-height: 22px;
        
        // max-height: 35px;
        // width: 60px;
        border-radius: 10px;
        background-color: rgb(11, 70, 160);

        -webkit-box-shadow: 0px 4px 0px 0px rgb(8, 46, 104);
        -moz-box-shadow: 0px 4px 0px 0px rgb(8, 46, 104);
        box-shadow: 0px 4px 0px 0px rgb(8, 46, 104);

        border: solid 1px rgb(37, 109, 218);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 4px;
        gap: 0px;
        transition: all 0.1s;

        &:hover{
            background-color: rgb(6, 32, 71);
        }

        &:active {
            margin-top: 2px;
            -webkit-box-shadow: 0px 2px 0px 0px rgb(27, 79, 190);
            -moz-box-shadow: 0px 2px 0px 0px rgb(27, 79, 190);
            box-shadow: 0px 2px 0px 0px rgb(27, 79, 190);
        }
    }

    .time{
        font-size: 16px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .reset {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
        line-height: 15px;
    }


    .best-time-container,
    .current-level-container {
        position: absolute;
        left: 50%;
        top: 10px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .best-time-container {
        transform: translate(calc(-50% + 70px), 0);
    }

    .current-level-container {
        transform: translate(calc(-50% - 130px), 0);
    }

    .best-time-copy,
    .current-level-copy{
            margin: 0;
            padding: 0;
            line-height: 12px;
            text-align: center;
    }

    .best-time-divider{
            width: 100%;
            height: 1px;
            background-color: white;
    }

    .best-time{
            line-height: 12px;
    }

    .current-level-grid{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        column-gap: 8px;
        row-gap: 1px;
        margin-top: 4px;
        text-align: center;
    }

    .current-level-cell{
        font-size: 12px;
        line-height: 1;
    }
}
