.top-grid-container{
    display: flex;
    justify-content: center;
}

.temp-button {
    position: absolute;
    top: 0;
    left: 0;
}





.drag-proximity-hover{
    background-color: #BC002D;
}

.top-grid-phonetic{
    display: flex;   
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    min-width: 40px;   // keeps them uniform because characters aren't uniform
    pointer-events: none;
}

.top-grid-hint-container{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #5d5d5d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    pointer-events: none;

}

.top-grid-hint {
    width: 100%;
    padding: 0 2px;
}

.top-grid-item:nth-child(5n-4){
    border-color: rgb(173, 116, 116);
}

.top-grid-item:nth-child(5n-3){
    border-color: rgb(116, 173, 121);
}

.top-grid-item:nth-child(5n-2){
    border-color: rgb(116, 173, 168);
}

.top-grid-item:nth-child(5n-1){
    border-color: rgb(173, 116, 149);
}

.top-grid-item:nth-child(5n){
    border-color: rgb(153, 173, 116);
}

// .top-grid-item.gap{
//     border: none;
// }