@use './variables' as vars;

.ui{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: flex-start;
    width: 100%;
    gap: 5px;
    padding: 20px;
    border: 1px white solid;
    border-radius: 20px;
    margin-top: 10px;
    overflow: scroll;
}

button{
    // height: 50px;
    // min-width: 50px;
    border-radius: 5px;
}

.ui-component-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    // height: 80px;
    gap: 20px;
    justify-content: space-between;
}

.ui-component-container{
    @media screen and (max-width: vars.$breakpoint-tablet) {
        height: auto;
    }
}

.ui-label{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.ui-input-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5d5d5d;
    padding: 10px 25px;
    border-radius: 5px;

    @media screen and (max-width: vars.$breakpoint-mobile) {
        flex-direction: column;
        gap: 10px;
        padding: 10px 25px;
    }
}

.ui-input-container input{
    width: 100%;
    cursor: pointer;
}


.slider-number{
    margin: 0 15px;
}

.hint-btn{
    min-width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    i{
        width: 20px;
    }
}

.icon-prefix {
    margin-right: 2px;
}

