// _variables.scss
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;

$color-bg-base: #171717;
$color-bg-panel: #1e1e1e;
$color-text-primary: #ffffff;
$color-border-strong: #282828;
$color-border-default: #8d8d8d;
$color-accent-primary: #bc002d;
